header{
    text-align: center;
    padding: 20px;
}
.form_box{
    margin: auto;
    padding: 50px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    background-color: #5b6779;
    display: flex;
    flex-direction: column;
}
label{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
input{
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
button{
    background-color: #2E2E2E;
    height: 50px;
    width: 200px;
    margin: auto;
    color: white;
    font-size: x-large;
    border-radius: 15px;
}
button:hover{
    color: #FF7F3F;
    border-color: white;
}
button:active{
    opacity: 0.5;
}